# Import libraries

In [1]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split

# Train_test_split

In [2]:
df = pd.read_excel('car_prices.xlsx')
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [3]:
x = df[['Mileage', 'Age(yrs)']]
y = df['Sell Price($)']
x

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
5     59000         5
6     52000         5
7     72000         6
8     91000         8
9     67000         6
10    83000         7
11    79000         7
12    59000         5
13    58780         4
14    82450         7
15    25400         3
16    28000         2
17    69000         5
18    87600         8
19    52000         5

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train

    Mileage  Age(yrs)
9     67000         6
19    52000         5
16    28000         2
1     35000         3
4     46000         4
18    87600         8
6     52000         5
5     59000         5
12    59000         5
14    82450         7
2     57000         5
7     72000         6
11    79000         7
8     91000         8
15    25400         3
10    83000         7

In [6]:
model = linear_model.LinearRegression()

In [7]:
model.fit(x_train, y_train)

LinearRegression()

In [8]:
model.predict(x_test)

array([22963.4176726 , 38620.79346527, 26689.46072789, 22127.39358991])

In [9]:
y_test

17    19700
3     40000
13    27500
0     18000
Name: Sell Price($), dtype: int64

In [11]:
model.score(x_test, y_test)

0.8997133187580972